#login-form {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  top: 25px;
}
.login-inputs {
  display: flex;
  flex-direction: column;
}
#loginBtn {
  width: 100%;
}
.mat-input-element {
  text-align: center;
}

