<div id="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">

    <mat-card>
      <mat-card-content>
        <div class="login-inputs">
          <img id="loginLogo" src="assets/images/vcf-asi-logo.jpg" alt="ASI/VCF Login HFC Sales Login">
          <h2 class="text-center">HFC Sales App</h2>

          <mat-form-field hintLabel="">
            <input matInput #employeeNumber (change)="checkLoginType(employeeNumber.value)" maxlength="10"
                   placeholder="Enter Employee Number" name="empNumber" formControlName="empNumber">
          </mat-form-field>

          <mat-form-field *ngIf="!isHidden">
            <input matInput maxlength="15" placeholder="Enter User ID"
                   autofocus name="userId" formControlName="userId">
          </mat-form-field>

          <mat-form-field hintLabel="">
            <input matInput type="password" maxlength="15" placeholder="Enter Password"
                   name="password" formControlName="password">
          </mat-form-field>

        </div>
      </mat-card-content>

      <mat-card-actions>
        <button id="loginBtn" type="submit" mat-raised-button color="primary">Login</button>
      </mat-card-actions>

    </mat-card>

  </form>
</div>
